<% if (typeof users !== 'undefined') { %> <%-
include('../partials/getAllUsers',{users:users}); %> <% } %> <% if (typeof
complains !== 'undefined') { %> <%-
include('../partials/getAllComplains',{complains}); %> <% } %> <% if (typeof
post !== 'undefined') { %>
<section>
  <form
    action="/admin/dashboard/complaints/delete/<%= post.cid %>"
    method="POST"
  >
    <input type="submit" class="btn btn-danger mb-3" value="DELETE" />
  </form>

  <div class="card card-body d-flex justify-content-center align-items-center">
    <div id="map" style="height: 50vh;"></div>
    <div class="w-50">
      <img src="<%= url %>" class="w-100" />
    </div>
    <div class="w-50">
      <h3><%= post.title %></h3>
      <p><%= post.description %></p>
    </div>
  </div>
</section>
<% } %>
