<table class="table table-striped">
  <tr>
    <th>post id</th>
    <th>title</th>
    <th>created By</th>
    <th>location</th>
  </tr>
  <% complains.forEach(complain => { %>
    <tr>
      <td><form action="/admin/dashboard/complaints/<%= complain.cid %>" method="GET"><input type="submit" value="<%= complain.cid %>"></form></td>
      <td><%= complain.title %></td>
      <td><%= complain.createdBy %></td>
      <td><%= complain.location %></td>
    </tr>
  <% }) %>
<table>