<nav class="navbar navbar-light bg-light float-right">
  <form
    class="form-inline"
    action="/admin/dashboard/getAllUsers?search=search"
    method="GET"
  >
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
      value="<% typeof search != 'undefined' ? search : '' %>"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
</nav>

<% if(typeof length != 'undefined') { %>
<div class="text-muted lead"><%= length %> results found.</div>
<% } %>

<table class="table table-striped">
  <tr>
    <th>id</th>
    <th>username</th>
    <th>profile</th>
    <th>email</th>
    <th>joined</th>
    <th>last updated</th>
  </tr>
  <% users.forEach(user=> { %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.uname %></td>
    <td>
      <img
        src="<%= user.image %>"
        style="height:50px;width:50px;border-radius:50%;"
      />
    </td>
    <td><%= user.email %></td>
    <td><%= user.createdAt %></td>
    <td><%= user.updatedAt %></td>
  </tr>
  <% }) %>
  <table></table>
</table>
