<table class="table table-striped">
  <tr>
    <th>post id</th>
    <th>title</th>
    <th>created By</th>
    <th>location</th>
  </tr>
  <% complains.forEach(complain => { %>
    <tr>
      <td><a style="color:black;text-decoration:none;" href="/admin/dashboard/complaints/<%= complain.cid %>"><%= complain.cid %></a></td>
      <td><%= complain.title %></td>
      <td><%= complain.createdBy %></td>
      <td><%= complain.location %></td>
    </tr>
  <% }) %>
<table>