<nav class="navbar navbar-light bg-light float-right">
  <form
    class="form-inline"
    action="/admin/dashboard/complaints?search=search"
    method="GET"
  >
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="search"
      value="<% typeof search != 'undefined' ? search : '' %>"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>
  <ul class="list-group list-group-horizontal ml-5">
    <li class="list-group-item restrict">
      <form href="/admin/dashboard/complaints?restrict=completed" method="GET">
        <input type="submit" readonly name="restrict" value="completed" />
      </form>
    </li>
    <li class="list-group-item restrict">
      <form href="/admin/dashboard/complaints?restrict=pending" method="GET">
        <input type="submit" readonly name="restrict" value="pending" />
      </form>
    </li>
  </ul>
</nav>

<% if(typeof length != 'undefined') { %>
<div class="text-muted lead"><%= length %> results found.</div>
<% } %>

<table class="table table-striped">
  <tr>
    <th>post id</th>
    <th>title</th>
    <th>created By</th>
    <th>Date created</th>
    <th>Status</th>
    <th>Marked by</th>
  </tr>
  <% complains.forEach(complain => { %>
  <tr>
    <td>
      <a
        style="color:black;text-decoration:none;"
        href="/admin/dashboard/complaints/find/<%= complain.cid %>"
        ><%= complain.cid %></a
      >
    </td>
    <td><%= complain.title %></td>
    <td><%= complain.createdBy %></td>
    <td><%= complain.dateCreated %></td>
    <td>
      <a href="/admin/dashboard/complaints/mark/<%= complain.cid %>">
        <% if(complain.isCompleted) { %>
        <div class="btn btn-success text-center" style="width: 110px;">
          completed
        </div>
        <% }else { %>
        <div class="btn btn-danger text-center" style="width: 110px;">
          pending
        </div>
        <% } %>
      </a>
    </td>
    <td>
      <%= complain.markedBy %>
    </td>
  </tr>
  <% }) %>
  <table></table>
</table>
