<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sarokaar | Dashboard</title>
    <link rel="stylesheet" href="/fonts/css/all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row" style="height:100vh;">
        <div class="col-md-2 bg-light h-100">
          <%- include('../partials/d-sidebar.ejs') %>
        </div>
        <div class="col-md-10 h-100">
          <%# navbar %>
          <div class="row">
            <div class="col-12 bg-dark">
              <%- include('../partials/d-navbar.ejs') %>
            </div>
          </div>
          <%# header %>
          <div class="row h-25">
            <%- include('../partials/d-header.ejs') %> <%-
            include('../partials/messages.ejs') %>
          </div>
          <%# main %>
          <div class="container" style="margin-top:-100px">
            <div
              class="card card-body"
              style="min-height: 78vh;position: relative;background: transparent;box-shadow: 0 0 10px 10px rgba(0, green, 0, 0.9) inset !important"
            >
              <%- body %>
              <div class="sarokaar-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
