<main>
    <div class="container">
        <h1 class="lead display-3" style="text-align:center">Our <%= title %></h1>
        <% for(let i = 0; i < developers.length; i++) { %>
        <ul class="list-group card my-3" style="color: black;">
            <li class="list-group-item d-flex">
                <img src='<%= developers[i].img %>'
                    style="width: 100px; height:100px; border-radius: 50%;border:3px solid #28a745">
                <div style="width: 100%;">
                    <p class="lead px-3" style="line-height: 100px;">
                        <%= developers[i].name %><span class="mx-1"><i class="fas fa-circle"
                                style="font-size: 6px;"></i></span>
                    </p>
                    <div
                        style="height: 3px;width:100%;background-image: linear-gradient(to right,#28a745,#fff);margin-top: -20px;">
                    </div>
                </div>
            </li>
            <li class="list-group-item"><%= developers[i].desc %></li>
            <li class="list-group-item">

                <!-- <a class="btn btn-dark" style="cursor: pointer;color:white"> -->
                <a href='<%= developers[i].link %>' class="btn btn-primary" role="button">Learn More</a>
                <ul class="list-inline float-right">
                    <li class="list-inline-item"><i class="fab fa-facebook-f" style="color:black"></i></li>

                    <li class="list-inline-item"><i class="fab fa-instagram" style="color: black"></i></li>
                </ul>
            </li>
        </ul>
        <% } %>
    </div>
</main>
